html {
    /* font-size: 10px; */
    font-size: 62.5%;
  }
  

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
}

body {
    text-align: center;
    background-image: url(fundo_img_saudavel.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    font-family: Montserrat, "Open Sans", Roboto, Verdana, Tahoma, sans-serif;
    font-size: 1.728rem;
    line-height: 1.6;
    height: 100vh;  
}

#tituloPagina{
    font-size: 6rem;
    font-weight: bold;
    margin: 2rem;
    text-shadow: rgb(190, 218, 35) 0.1rem 0 1rem;
}

p{
    font-size: 3rem;
    margin: 2rem;
    text-shadow: rgb(190, 218, 35) 0.1rem 0 1rem;
}

.container-formulario{
    font-size: 2rem;
    font-weight: bold;
    display: block;
}

label{
    margin-left: 1rem;
}

input{
    font-size: 1.6rem;
    padding: 0.8rem;
    border-radius: 0.8rem;
    border: 0.1rem solid #494141;
    font-weight: bold;
}

/* Estilo base para todos os botões */
.button {
    border-radius: 0.8rem;
    padding: 1.2rem;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 12rem;
}

/* Estilo específico para o botão "consulta" */
.button-consulta {
    background-color: #007BFF; 
    color: #FFFFFF; 
    border: none;
    margin-left: 2rem;
}

.button-consulta:hover {
    background-color: #0056b3;
}

/* Estilo específico para o botão "Zerar" */
.button-reset {
    background-color: #bbcf94; 
    color: #4A4A4A; 
    border: 1px solid #CCCCCC;
}

.button-reset:hover {
    background-color: #e1e7ed; 
}

.container{
    display: flex;
    align-items: column;
    flex-flow: column wrap;
}

.container-resultado{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.container-sugestaoPesoIdeal{
    display: block;
    justify-content: center;
}

.container-pesoIdeal{
    display: flex;
    justify-content: center;
    margin-top: -4rem;
}

table {
    align-self: center;
    width: 80%;
    border-collapse: collapse;
    margin: 2rem auto;
    font-size: 1rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
}
th, td {
    border: 0.1rem solid #494141;
    padding: 0.8rem;
}

th {
    background-color: #f4f4f4;
}

caption {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

legend {
    font-size: 1.5rem;
    margin-top: -1rem;
}

.highlight {
    background-color: #ffdd57; /* Cor de destaque */
    font-weight: bold;
}

#SelecionaImcDesejado{
    font-size: 3rem;
    font-weight: bold;
    margin: 2rem;
    margin-top: 5rem;
    text-shadow: rgb(190, 218, 35) 0.1rem 0 1rem;
}